<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{flatpage.title}}</title>
</head>
<body>
    <div class="All" src="images/backk.png">
        <header>
            <a class="logo_a"><img class="logo" src="{% static 'images/logo.png' %}"></a>
            <div class="header_text">
                <a class="header_text1">Фотогалерея</a>
                <a class="header_text2">Отзывы</a>
                <a class="header_text3">Контакты</a>
            </div>
            <div class="menu"><img class="menu_img" src="{% static 'images/group%202.png' %}"></div>
        </header>



    <div class="footer">
            <content>

            <div class="rad1">
                <a>Согласие на обработку данных</a>
                <a>Служба поддержки</a>
                <a>Политика конфиденциальности</a>
            </div>
            <p>©nazvaniesaita.ru | Название компании или ИП ОРГН 0000000000000</p>

            </content>
        </div>

    </div>
</body>
</html>