    <div class="All" src="images/backk.png">
        <header>
          {% load static %}
            <a class="logo_a"><img class="logo" src="{% static 'images/logo.png' %}"></a>
            <div class="header_text">
                <a class="header_text1">Фотогалерея</a>
                <a class="header_text2">Отзывы</a>
                <a class="header_text3">Контакты</a>
            </div>
            <div class="menu"><img class="menu_img" src="{% static 'images/group%202.png' %}"></div>
        </header>